@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Bienvenue sur LDLE </h1>
    <p>Présentation de LDLE : votre destination de shopping incontournable</a>.</p>
</div>
<br />

<div class="text-center">

    <p>
        Discover unbeatable deals and a vast selection of products at Wish-Azon.
        From electronics to fashion, home decor to beauty essentials, we've got it all.
        Shop with confidence, knowing you're getting top-quality items at incredible prices.
        Join us today and experience the convenience and excitement of Wish-Azon!
    </p>
