@{
    ViewData["Title"] = "Privacy Policy";
}


<br>
<div class="text-center">
    <h3>Privacy Matters at Wish-Azon</h3>
    <p>
        Privacy Matters at Wish-Azon

        Your privacy is paramount to us at Wish-Azon.
        Our Privacy Policy ensures that your personal information is securely handled, never shared without consent, and used solely to enhance your shopping experience.
        Rest assured, your trust is our priority. Read our full Privacy Policy for more details..
    </p>
</div>
